/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    /* background-image: linear-gradient(#8938E1,#4AB3D6); */
    background-image: linear-gradient(to right top, #8938e1, #346cf7, #2c9cf1, #00a2e9, #4ab3d6);
   
    background-attachment: fixed;
    background-size: cover;
   
}


#reciever>p *{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.left{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
}

#PlayPause{
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-image: url("/images/play-filled-square-button.png");
    background-size: cover;
    cursor: pointer;
    border-radius: 20px;
}

.egyikclass
{
    background-image: url("/images/pause.png")!important;
    border-radius: 20px;

}

/* .masikclass
{
    background-image: url("/images/play-filled-square-button.png");
} */

.link{
    position: fixed;
    top: 0;
}

#player_div {
    user-select: none;
}

#messageinput, #nevinput {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    margin-left: 10px;
    width: 370px;
    
}



#gomb {
    border-radius: 5px;
    z-index: 1000;
    
    
}

#reciever-wrapper {
    border: 3px solid black;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
    overflow-y: hidden;
    inline-size: 400px; 
    position: relative;
}
#reciever {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    inline-size: 400px; 
    
}
#downarrow {
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
    padding: 6px;
    right: 80px;
    left: 80px;
    

   
}
#gomb:hover {
background-color: lightgray;
}

.chatcucc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    height: 600px;
    width: 60%;
    border-radius: 5px;
}

.uzenet {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    width: 50% ;
    margin-left: 10px;
}

.sajatuzenet {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px;
    width: 50% ;
}