/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(#8938E1,#4AB3D6); */
    background-image: linear-gradient(to right top, #8938e1, #346cf7, #2c9cf1, #00a2e9, #4ab3d6);    
    background-attachment: fixed;
    background-size: cover;
   
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 128, 0, 0.533);
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    height: 8vh;
    position: fixed;
    top: 0px;
    z-index: 80;
}

main{
    padding-top: 8vh;
}

input[type="text"]{
    padding: 10px;
    
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black ;
    width: 200px;
}

form {
    border-radius: 5px;
}

#VideoJsLoadVid {
    padding: 6px;
    
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black ;
    width: 300px;
    color: white;
}
#littleputbtn {
    background-image: url('/images/littleplaybtn.png');
    background-size: cover;
    height: 31px;
    width: 31px;
     
}

#inserttolist {
    background-image: url('/images/plusicon.png');
    background-size: cover;
    height: 31px;
    width: 31px;
     
}

#littleputbtn:hover {
    background-color: rgb(194, 194, 194);
}

#inserttolist:hover {
    background-color: rgb(194, 194, 194);
}
/* utils */

.flexrow{
    display: flex;
    flex-direction: row;
}

.flexcol{
    display: flex;
    flex-direction: column;
}

.center{
    align-items: center;
    justify-content: center;
}


.maxheight{
    height: 92vh;
}

/* utils end */

#reciever>p *{
    width: 100%;
    height: 100%;
}


.left{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#users{
    
    width: 6%;
    background-color: rgba(255, 255, 0, 0.579);
}

#videoContainer{
    overflow-y: scroll;
    width: 60%;
    background-color: rgba(0, 0, 255, 0.509);
}

#playLists{
    width: 20%;
    background-color: rgba(255, 0, 0, 0.452);
}

#chat{
    box-sizing: border-box;
    width: 20%;
    background-color: rgba(255, 0, 255, 0.411);
    border: 5px solid black;
}

/* users div */
.cards{
    margin-top: 10px;
    width: 100%;
    gap: 2rem;
}

.card{
    width: 80%;
}

.card img{
    width: 100%;
}

/* video div */

.video-js{
    position: relative !important;
    width: 100%;
    height: 50vh;
}


#PlayPause{
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-image: url("/images/play-filled-square-button.png");
    background-size: cover;
    cursor: pointer;
    border-radius: 20px;
}

.changeBGtoPause
{
    background-image: url("/images/pause.png")!important;
    border-radius: 20px;

}

.link{
    position: fixed;
    top: 0;
}

#player_div {
    user-select: none;
}

#messageinput, #nevinput {
    border-radius: 5px;
}



#gomb {
    border-radius: 5px;
    z-index: 1000;
    opacity: inherit;
    user-select: none;
}

#reciever {
    border: 3px solid black;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
    overflow-x: scroll;
    inline-size: 400px; 
    position: relative;
}
#downarrow {
    position: absolute;
    bottom: 6.5vh;
    border-radius: 5px;
}
#gomb:hover {
background-color: lightgray;
}

.chatcucc {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    height: 80%;
    width: 80%;
    border-radius: 5px;
}

.uzenet {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    width: 50% ;
    margin-left: 10px;
}

.sajatuzenet {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px;
    width: 50% ;
}