<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/homepageloggedin.css">
    <title>Gather2Watch</title>
</head>
<body>
    <div class="login">
       
    </div>

    <div class="main">
        <h1>Üdvözöllek <%= user.username %></h1>
        <div class="flexcol">
            <div class="flexcol">
                <h1>Szoba Id</h1>
                <input type="text" id="roomid" placeholder="Szoba Id" style="color: white; font-family: 'Rubik', sans-serif;">
            </div>
            <div class="flexcol">
                <h1>Jelszó</h1>
                <input type="password" id="roompass" placeholder="Jelszó" style="color: white; font-family: 'Rubik', sans-serif;">
            </div>
        </div>
        
        <input type="submit" value="Szoba létrehozása/csatlakozás" id="createroom" style="font-family: 'Rubik', sans-serif;">
       
            
       
    </div>
</body>
</html>