


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    
    
}
iframe {
    height: 100%;
    aspect-ratio: 16 / 9;
    border: 5px solid black;
}
.nincs {
    display: none;
}

body{
    background-color: #f8f2f2;
    margin-top: 10vh;
    
}


h1 {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

 .container img {
    height: 400px;
    border: 5px solid black;
    
}



.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
    
}

p {
    
    word-wrap: break-word;
    text-align: center;
}



.flex3 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.flexkep {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.summary {
    display: flex;
    width: 1020px;
    text-align: center;
    /* align-items: center; */
    padding: 29px;
    word-break: normal;
    margin-left: 400px;
    
   
}

#screenshots {
    display: flex;
    height: 281px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
   
    
    
}

#screenshots img {
    height: 100%;
    border: 5px solid black;
    
}

#modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;  
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#modal.hidden {
    display: none;
}

#modal img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    object-fit: contain;
    border: none;
}

#modal button {
    position: fixed;
    right: 1rem;
    top: 0.2rem;
    font-size: 50px;
    height: 75px;
    aspect-ratio: 1/1;
    cursor: pointer;
    background: none;
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
   
  }
   
  ::-webkit-scrollbar-thumb {
    background: brown; 
    border-radius: 10px;
    
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

 .steam {
    width: 50px;
    height: 50px;
    background-image: url("../img/steam-logo-transparent.png");
    background-size: contain;
    position: relative;
 }
 .steam a {
    width: 100%;
    height: 100%;
    position: absolute;
 }

 .epic {
    width: 50px;
    height: 50px;
    background-image: url("../img/epic-games-logo-black-and-white.png");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
 }

 .epic a {
    width: 100%;
    height: 100%;
    position: absolute;
 }

 .webflex {
    display: flex;
    gap: 5px;
 }

 .buttonflex {
    display: flex;
    flex-direction: row;
    gap: 10px;
 }

 .buttonsize {
    background-size: contain;
    width: 31px;
    height: 31px;
    border: none;
 }

 #wishlist {
    background-image: url("../img/bookmark.png");
 }

 #completed {
    background-image: url("../img/checkmark.png");
 }

 #stillplaying {
    background-image: url("../img/stillplaying.png");

 }

 #addtolist {
    background-image: url("../img/addsymbol.png");
 }

 #favorite {
    background-image: url("../img/favorite.png");
 }
 .stillplayingcolor
 {
     background-image: url("../img/stillplayingcolor.png") !important;
 }

 .completedcolor
 {
     background-image: url("../img/checkmarkcolor.png") !important;
 }

 .addtolistcolor
 {
     background-image: url("../img/addsymbolcolor.png") !important;
 }

 .wishlistcolor
 {
     background-image: url("../img/bookmarkcolor.png") !important;
 }

 .favoritecolor
 {
     background-image: url("../img/favoritecolor.png") !important;

 }