* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    
    
}
iframe {
    height: 100%;
    aspect-ratio: 16 / 9;
    border: 5px solid black;
}
.nincs {
    display: none;
}

body{
    background-color: #f8f2f2;
    margin-top: 10vh;
    
}


h1 {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vh;
    
}

 .game-container img {
    height: 40vh;
    border: 5px solid black;
    
}



.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 28vw;
    
}

.mediaflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 28vw;
}

.game-container p {
    
    word-wrap: break-word;
    text-align: center;
}

.summary p {
    word-wrap: break-word;
    text-align: center;
}

.flex3 {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
}

.flexkep {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}

.summary {
    display: flex;
    /* width: 1020px; */
    text-align: center;
    align-items: center;
    padding: 3vh 16vw;
    word-break: normal;
    /* margin-left: 400px; */
    /* margin: auto;*/
    
   
}

#screenshots {
    display: flex;
    height: 280px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    user-select: none;
    
   
    
    
}

#screenshots img {
    height: 100%;
    border: 5px solid black;
    cursor: zoom-in;
    user-select: none;
}

.hidden {
    display: none !important;
}

#modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;  
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    user-select: none;
    cursor: pointer;
}

#modal img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    object-fit: contain;
    border: none;
}

#modal button {
    position: fixed;
    right: 1rem;
    top: 0.2rem;
    font-size: 50px;
    height: 75px;
    aspect-ratio: 1/1;
    cursor: pointer;
    background: none;
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
   
  }
   
  ::-webkit-scrollbar-thumb {
    background: brown; 
    border-radius: 10px;
    
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

 .steam {
    width: 50px;
    height: 50px;
    background-image: url("../img/steam-logo-transparent.png");
    background-size: contain;
    position: relative;
 }
 .steam a {
    width: 100%;
    height: 100%;
    position: absolute;
 }

 .epic {
    width: 50px;
    height: 50px;
    background-image: url("../img/epic-games-logo-black-and-white.png");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
 }

 .epic a {
    width: 100%;
    height: 100%;
    position: absolute;
 }

 .webflex {
    display: flex;
    gap: 5px;
 }

 .buttonflex {
    display: flex;
    flex-direction: row;
    gap: 10px;
 }

 .buttonsize {
    background-size: contain;
    width: 31px;
    height: 31px;
    border: none;
 }


/* lists */
#lists-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 60vh;
    background-color: #f8f8f8;
    z-index: 20;
    user-select: none;
    padding: 1rem;
    border: 1px solid black;
}

#lists-menu *{
    color: #000000;
}


#close-lists{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    background: #ede9e996;
}



#create-opener{

}
#create-opener-parent{
    height: 10%;
}

.list-options {
    height: 2rem;
}
.list-options input{
    height: 100%;
    border: 1px solid black;
    padding: 0.2rem;
}

.list-item-container{
    height: 100%;
    overflow-y: scroll;
}

.list-item{
    border: 1px solid #000000;
    border-radius: 1%/11%;
    padding: 0.5rem;
    cursor: pointer;
}

.list-item-active{
    background: #de5d5d;
    color: blue;
}

#close-lists:hover{
    color: #c92323;
    background: #ff00003d;
}


 #wishlist {
    background-image: url("../img/bookmark.png");
 }

 #completed {
    background-image: url("../img/checkmark.png");
 }

 #stillplaying {
    background-image: url("../img/stillplaying.png");

 }

 #addtolist {
    background-image: url("../img/addsymbol.png");
 }

 #favorite {
    background-image: url("../img/favorite.png");
 }
 .stillplayingcolor
 {
     background-image: url("../img/stillplayingcolor.png") !important;
 }

 .completedcolor
 {
     background-image: url("../img/checkmarkcolor.png") !important;
 }

 .addtolistcolor
 {
     background-image: url("../img/addsymbolcolor.png") !important;
 }

 .wishlistcolor
 {
     background-image: url("../img/bookmarkcolor.png") !important;
 }

 .favoritecolor
 {
     background-image: url("../img/favoritecolor.png") !important;

 }

 @media (max-width: 800px) {
    #lists-menu {
        width: 95vw;
        height: 85vh;
    }
    .flex {
        display: flex;
        flex-direction: column-reverse;
        gap: 5vw;
        margin-top: 5vh;
        align-items: stretch;
       

        
    }
    .mediaflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
        margin-left: 70vw;
    }
    #screenshots {
        display: flex;
        height: 210px;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        user-select: none;
    }
        
    }