html,body{
    min-height: 100vh;
    
}


.IdProperty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.searchResults .container{
    display: flex;
    flex-direction: column;
}


.container{
    overflow: scroll;
    display: flex;
    align-items: center;
    cursor: grab;
    
}

.wrapper-name{
    margin-left: 1vw;
}

.card{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: fit-content;
    flex-wrap: wrap;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    
}
.card img{
    border-radius: 12%;
    max-height: 40rem;
    object-fit: contain;
    max-width: -webkit-fill-available;
}
.card-body{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow-y: hidden;
    max-width: 100%;
}
.card-header{
    text-align: center;
    font-size: 1.4vw;
}

.card-header {
    font-size: 1.4vw;
    max-width: 100%;
}

.name{
    overflow: hidden;
    max-width: calc(100%);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#wrapper, #wrapper2 {
    overflow-y: hidden;
    padding: 1vw;
    gap: 2vw;
}

@media (max-width: 1000px) {
    .card {
        width: 32%;
    }

    .card-header{
        font-size: 3vw;
    }
}