/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
  flex-direction: row;
}

.kep{
  height: 100vh;
  
}

.kep1{
  position: fixed;
  left: -4%;
  clip-path: polygon(0 0, 90% 0, 90% 100%, 0% 100%);
  transition: clip-path 1s ease-in-out;
  background-image: url("https://cdn.mcr.ea.com/3/images/0c2692f4-c62f-4823-accc-a11c2a5bb870/1587706064-0x0-0-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -200px;
  width: 80%;
}

.kep2{
  position: fixed;
  right: -4%;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%);
  transition: clip-path 1s ease-in-out;
  background-image: url("https://cdn.mos.cms.futurecdn.net/yYFhk42HeexHNWqBH5hkhQ.jpg");
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}


.kep1:hover{
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.kep1:hover ~ .kep2{
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.kep2:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

