html{
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
  flex-direction: row;
}

#wrapper {
  overflow-y: hidden;
  padding: 1vw;
  gap: 2vw;
}

.kep{
  height: 100vh;
  
}

.kep1{
  position: fixed;
  left: -4%;
  clip-path: polygon(0 0, 90% 0, 90% 100%, 0% 100%);
  transition: clip-path 1s ease-in-out;
  background-image: url("https://cdn.mcr.ea.com/3/images/0c2692f4-c62f-4823-accc-a11c2a5bb870/1587706064-0x0-0-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -200px;
  width: 80%;
}

.kep2{
  position: fixed;
  right: -4%;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%);
  transition: clip-path 1s ease-in-out;
  background-image: url("https://cdn.mos.cms.futurecdn.net/yYFhk42HeexHNWqBH5hkhQ.jpg");
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}


.kep1:hover{
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.kep1:hover ~ .kep2{
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.kep2:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

@media (max-width: 1000px) {
    .card{
        width: 23.5%;
    }
}