:root{
    font-size: 20px;
}

nav{
    display: flex;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: brown;
    font-family: 'Algerian', sans-serif;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

nav input{
    border-bottom: 0;
    border-left: #2e51a2 1px solid;
    border-right: 0;
    border-top: 0;
    display: inline-block;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    height: 18px;
    padding-left: 2px;
    text-indent: 4px;
    width: 286px;
}


select{
    appearance: none;
    background-color: #fff;
    background-image: url(/images/icon-triangles.png?v=1634263200);
    background-position: 74px 6px;
    background-repeat: no-repeat;
    background-size: 8px auto;
    border-radius: 0;
    color: #323232;
    display: inline-block;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    height: 22px;
    margin: 0;
    padding-left: 8px;
    padding-right: 20px;
    padding-right: 0\0;
    width: 90px;
    
}

.selectParent{
    border-radius: 5px 0 0 5px;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    width: 90px;
}

.search{
    display: flex;
    text-align: center;
    width: 70%;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.rot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.banner{
    user-select: none;
    text-align: center;
    width: 30%;
    height: 100%;
    font-size: 3rem;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}