body {
    overflow-x: hidden;
}

#submitRate{
    cursor: pointer;
    border: 1px solid;
}

.slidecontainer{
    user-select: none;
}


.profile-texts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 127px; */
    flex-direction: column;
}

.profile-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: max-content;
}
  
.profile-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    gap: 1vw;
    padding: 0 1vw;
}

.profile-picture {
    display: flex;
    /* margin-left: 40px; */
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    width: 100%;
}

.profile-picture img {
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
    
}



/* lists */
.lists-section{
    width: calc(100% - 20%);
    /* min-height: 80vh; */
    background-color: #e9e3e3;
    align-items: flex-start;
    padding: 1rem;
}

.lists-section details{
    width: 100%;
}
.lists-section summary{
    cursor: pointer;
    user-select: none;
}
#lists-opener {
    cursor: pointer;
}
.uncollapsible{
    display: flex;
    align-items: center;
}


.IdProperty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    padding: 1vw;
    gap: 2vw;
}

.container{
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: grab;
    
    
}

.card{
    display: flex;
    flex-direction: column;
    /* min-width: 9%; */
    max-height: 90%;
    flex-wrap: wrap;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    
}
.card img{
    border-radius: 12%;
    max-height: 20vh;
    object-fit: contain;
    /* max-width: min-content; */

}
.card-body{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow-y: hidden;
    /* max-width: 100%;  */
}
.card-header{
    text-align: center;
    font-size: 1.4vw;
}

.card-header {
    font-size: 1.2vw;
    max-width: 100%;
}

.name{
    overflow: hidden;
    max-width: calc(100%);
    display: block;
    
}

.card-name {
    overflow: hidden;
    max-width: calc(100%);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    max-width: 10vw;
}

.steamurl {
    width: 50px;
    height: 50px;
    background-image: url("../img/steam-logo-transparent.png");
    background-size: contain;
    position: relative;
 }
 .steamurl a {
    width: 100%;
    height: 100%;
    position: absolute;
 }

 #wrapper {
    overflow-y: hidden;
    padding: 1vw;
    gap: 2vw;
  }

  .container {
    overflow: auto;
    display: flex;
    align-items: center;
    cursor: grab;
    overflow-y: hidden;
}

 @media (max-width: 800px) {

    .profile-main {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 1vw;
        padding: 0 1vw;
    }


    .profile-section{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: max-content;
    }

    .lists-section {
        width: calc(100% - 20%);
        /* min-height: 80vh; */
        background-color: #e9e3e3;
        align-items: flex-start;
        padding: 1rem;
    }

    .container {
        overflow: hidden;
        display: flex;
        align-items: center;
        cursor: grab;
        /* width: 100vw; */
    }

    .wrapper {
        
        gap: 1px;
    }

    .card-header {
        font-size: 3vw;
    }

    .card-name {
        overflow: hidden;
        max-width: calc(100%);
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        max-width: 25vw;
    }

    .card img {
        border-radius: 12%;
        max-height: 18vh;
        object-fit: contain;
        /* max-width: min-content; */
    }

    .container {
        overflow: auto;
        display: flex;
        align-items: center;
        cursor: grab;
        overflow-y: hidden;
    }
 }






