* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    user-select: none;
}

html,body{
    min-height: 100vh;
}

body{
    background-color: #f8f2f2;
    margin-top: 8vh;
}
.card-body img{
   
    max-height: 40rem;
    object-fit: contain;
    width: 50%;
}
.display {
    display: none;
}

.IdProperty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container{
    overflow: scroll;
    display: flex;
    align-items: flex-start;
    cursor: auto;
    overflow-y: hidden;
    overflow-x: hidden;

 /* width: 100%;
 display: grid;
 gap: 50px;
 padding: 25px 25px;
 grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr)); */
}

.searchResults .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: fit-content;
    flex-wrap: nowrap;
    margin: 5px;
    box-shadow: 0 0px 10px rgb(1 1 1 / 10%);
    padding: 10px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    
}
.card-body{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}



 .buttonsize {
    background-image: url("../img/addsymbol.png");
    background-size: contain;
    width: 31px;
    height: 31px;
    border: none;
    margin-left: 5px;
    z-index: 1;
    cursor: pointer;
    
 }
 .hidden {
    display: none !important;
}
 .listbtnsearch {
    display: flex;
 }
 #lists-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 60vh;
    background-color: #f8f8f8;
    z-index: 20;
    user-select: none;
    padding: 1rem;
    border: 1px solid black;
}

#lists-menu *{
    color: #000000;
}


#close-lists{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    background: #ede9e996;
}

 #create-opener-parent{
    height: 10%;
}

.list-options {
    height: 2rem;
}
.list-options input{
    height: 100%;
    border: 1px solid black;
    padding: 0.2rem;
}

.list-item-container{
    height: 100%;
    overflow-y: scroll;
}

.list-item{
    border: 1px solid #000000;
    border-radius: 1%/11%;
    padding: 0.5rem;
    cursor: pointer;
}

.list-item-active{
    background: #de5d5d;
    color: blue;
}

#close-lists:hover{
    color: #c92323;
    background: #ff00003d;
}


@media (min-width: 801px) {
    .card-header{
        text-align: center;
    
    }
}

h2 {
    text-align: center;
}


@media (max-width: 800px) {
   .display {
    display: contents;
   }
    .card-header{
        display: none;
        text-align: center;
        font-size: small;
        max-width: 20%;
    
    }
    h3 {
        word-wrap: break-word;
        margin-left: 43px;
        text-align: center;
    }


    .card-body{
        display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    min-width: 80%;
    align-items: center;

    }

    .card {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: fit-content;
        flex-wrap: nowrap;
        margin: 2px;
        box-shadow: 0 0px 10px rgb(1 1 1 / 10%);
        padding: 8px;
        position: relative;
        justify-content: flex-start;
        align-items: center;
    }
    .card-body img{
   
        max-height: 40rem;
        object-fit: contain;
        width: 50%;
        margin-right: 10px;
    }
}








/* .pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page,
.next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page,
.dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #0AB1CE;
}

.disable {
    background: #ccc;
} */