form {
    margin-left: 20px;
    margin-bottom: 20px;
}


#informamos{
    width: 30px;
    cursor: pointer;
    position: relative;
}

#informamos img{
    width: 100%;
}

#informamos::after{
    content: '';
}

#informamos:hover::after{
    content: "Information: We only accept urls, (pictures already uploaded to the internet). We dont store pictures!";
    display: block;
    width: max-content;
    position: absolute;
    top: 5px;
    left: 35px;
}

.Text{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

#pictureUrl ,#steamUrl {
    width: 15vw;
    height: 2vh;
    border: 1px solid black;
    border-radius: 5px;
}

#sendSettings ,#sendSettingsSteam {
    width: 5vw;
    height: 2vh;
    background-color: #c5c5f5;
    border-radius: 3px;
}

#sendSettings:hover ,#sendSettingsSteam:hover {
    background-color: #b0b0f7;
}


@media (max-width: 800px) {
    form h1 {
        font-size: 25px;
    }
    #informamos{
        display: none;
        width: 30px;
        cursor: pointer;
        position: relative;
    }

    #pictureUrl ,#steamUrl {
        width: 35vw;
        height: 2vh;
        border: 1px solid black;
        border-radius: 5px;
    }

    #sendSettings ,#sendSettingsSteam {
        width: 15vw;
        height: 2vh;
        background-color: #c5c5f5;
        border-radius: 3px;
    }
}